<mat-drawer-container class="profileContainer">
  <mat-drawer mode="side" opened>
    <div class="d-flex flex-column buttonContainer">
      <button
        class="buttonSide d-flex align-items-center justify-content-start"
        matRipple
        matRippleColor="color"
        mat-button
        (click)="getAllPostsProfile('trending')"
      >
        <mat-icon>trending_up</mat-icon> Trending
      </button>
      <button
        class="buttonSide d-flex align-items-center justify-content-start"
        matRipple
        matRippleColor="color"
        mat-button
        (click)="getAllPostsProfile('music')"
      >
        <mat-icon>headset</mat-icon> Music
      </button>
      <button
        class="buttonSide d-flex align-items-center justify-content-start"
        matRipple
        matRippleColor="color"
        mat-button
        (click)="getAllPostsProfile('movies')"
      >
        <mat-icon> local_movies</mat-icon> Movies
      </button>
      <button
        class="buttonSide d-flex align-items-center justify-content-start"
        matRipple
        matRippleColor="color"
        mat-button
        (click)="getAllPostsProfile('gaming')"
      >
        <mat-icon>games</mat-icon> Gaming
      </button>
      <button
        class="buttonSide d-flex align-items-center justify-content-start"
        matRipple
        matRippleColor="color"
        mat-button
        (click)="getAllPostsProfile('sport')"
      >
        <mat-icon> directions_run</mat-icon> Sport
      </button>
      <button
        class="buttonSide d-flex align-items-center justify-content-start"
        matRipple
        matRippleColor="color"
        mat-button
        (click)="getAllPostsProfile('technology')"
      >
        <mat-icon>devices_other</mat-icon> Technology
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="drawerContent">
    <div class="container-fluid">
      <div class="row">
        <div>
          <div id="label-prof-page">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" id="label-prof-page"
              class="d-flex flex-column align-items-center">
              <!-- sezione my post -->
              <mat-tab label="My Posts">
                <div *ngIf="!isFiltered">
                  <mat-card class="example-card profileCard" *ngFor="let myPost of allMyPosts">
                    <mat-card-header>
                      <div mat-card-avatar class="header-card-img">
                        <img [src]="myPost.user.profilePic" alt="" />
                      </div>
                      <mat-card-title>{{ myPost.title }}</mat-card-title>
                      <mat-card-subtitle>{{
                        myPost.user.nickname
                        }}</mat-card-subtitle>
                        <p>{{myPost.postDate}}</p>
                    </mat-card-header>
                    <img mat-card-image [src]="myPost.imageUrl" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                      <p class="mt-3">Topic: {{ myPost.postTopic }}</p>
                      <p class="mt-3">
                        {{ myPost.bodyText }}
                      </p>
                    </mat-card-content>
                    <mat-card-actions class="d-flex justify-content-end">
                      <!-- <button class="like" mat-button>
                        <mat-icon>thumb_up</mat-icon>
                      </button>
                      <button class="save" mat-button>
                        <mat-icon *ngIf="!saved">bookmark_border</mat-icon>
                          <mat-icon *ngIf="saved" class="bookFull">bookmark</mat-icon>
                      </button> -->
                      <button type="button" class="btn btn-outline-primary btnComment ms-2"
                        (click)="myPost.isCollapsed = !myPost.isCollapsed" [attr.aria-expanded]="!myPost.isCollapsed"
                        aria-controls="collapseExample">
                        Show Comments
                      </button>
                    </mat-card-actions>
                    <div class="comment-section" #collapse="ngbCollapse" [(ngbCollapse)]="myPost.isCollapsed">
                      <div class="card p-2" *ngFor="let property of myPost.comments | keyvalue">
                        <div class="commentTitle d-flex align-items-center gap-4">
                          <div mat-card-avatar class="header-card-img"><img class="commentPic"
                              [src]="property.value?.createdBy?.profilePic" alt=""></div>
                          <div class="fw-bold">{{property.value?.createdBy?.nickname}}</div>
                        </div>
                        <div class="card-body">{{property.value?.body}}</div>
                      </div>
                    </div>
                  </mat-card>
                </div>
                <!-- filtrati -->
                <div *ngIf="isFiltered">
                  <mat-card class="example-card profileCard" *ngFor="let myPost of filteredPosts">
                    <mat-card-header>
                      <div mat-card-avatar class="header-card-img">
                        <img [src]="myPost.user.profilePic" alt="" />
                      </div>
                      <mat-card-title>{{ myPost.title }}</mat-card-title>
                      <mat-card-subtitle>{{
                        myPost.user.nickname
                        }}</mat-card-subtitle>
                        <p>{{myPost.postDate}}</p>
                    </mat-card-header>
                    <img mat-card-image [src]="myPost.imageUrl" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                      <p class="mt-3">Topic: {{ myPost.postTopic }}</p>
                      <p class="mt-3">
                        {{ myPost.bodyText }}
                      </p>
                    </mat-card-content>
                    <mat-card-actions class="d-flex justify-content-end">
                      <button class="like" mat-button>
                        <mat-icon>thumb_up</mat-icon>
                      </button>
                      <button class="save" mat-button>
                        <!-- <mat-icon *ngIf="!saved">bookmark_border</mat-icon>
                          <mat-icon *ngIf="saved" class="bookFull">bookmark</mat-icon> -->
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </mat-tab>

              <mat-tab label="Saved Posts">
                <mat-card class="example-card profileCard" *ngFor="let myPost of savedPostArray">
                  <mat-card-header>
                    <div mat-card-avatar class="header-card-img">
                      <img [src]="myPost.user.profilePic" alt="" />
                    </div>
                    <mat-card-title>{{ myPost.title }}</mat-card-title>
                    <mat-card-subtitle>{{
                      myPost.user.nickname
                      }}</mat-card-subtitle>
                      <p>{{myPost.postDate}}</p>
                  </mat-card-header>
                  <img mat-card-image [src]="myPost.imageUrl" alt="Photo of a Shiba Inu" />
                  <mat-card-content>
                    <p class="mt-3">Topic: {{ myPost.postTopic }}</p>
                    <p class="mt-3">
                      {{ myPost.bodyText }}
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary btnComment ms-2"
                      (click)="myPost.isCollapsed = !myPost.isCollapsed" [attr.aria-expanded]="!myPost.isCollapsed"
                      aria-controls="collapseExample">
                      Show Comments
                    </button>
                    <button class="save" (click)="saved(myPost)" mat-button>
                      <mat-icon class="bookFull">bookmark</mat-icon>
                    </button>
                  </mat-card-actions>
                  <div class="comment-section" #collapse="ngbCollapse" [(ngbCollapse)]="myPost.isCollapsed">
                    <div class="card p-2" *ngFor="let property of myPost.comments | keyvalue">
                      <div class="commentTitle d-flex align-items-center gap-4">
                        <div mat-card-avatar class="header-card-img"><img class="commentPic"
                            [src]="property.value?.createdBy?.profilePic" alt=""></div>
                        <div class="fw-bold">{{property.value?.createdBy?.nickname}}</div>
                      </div>
                      <div class="card-body">{{property.value?.body}}</div>
                    </div>
                  </div>
                </mat-card>
              </mat-tab>

              <mat-tab label="Liked Posts">
                <mat-card class="example-card profileCard" *ngFor="let myPost of likedPosts">
                  <mat-card-header>
                    <div mat-card-avatar class="header-card-img">
                      <img [src]="myPost.user.profilePic" alt="" />
                    </div>
                    <mat-card-title>{{ myPost.title }}</mat-card-title>
                    <mat-card-subtitle>{{
                      myPost.user.nickname
                      }}</mat-card-subtitle>
                      <p>{{myPost.postDate}}</p>
                  </mat-card-header>
                  <img mat-card-image [src]="myPost.imageUrl" alt="Photo of a Shiba Inu" />
                  <mat-card-content>
                    <p class="mt-3">Topic: {{ myPost.postTopic }}</p>
                    <p class="mt-3">
                      {{ myPost.bodyText }}
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-end">
                    <button class="save" mat-button>
                      <!-- <mat-icon *ngIf="!saved">bookmark_border</mat-icon>
                        <mat-icon *ngIf="saved" class="bookFull">bookmark</mat-icon> -->
                    </button>
                    <button type="button" class="btn btn-outline-primary btnComment ms-2"
                      (click)="myPost.isCollapsed = !myPost.isCollapsed" [attr.aria-expanded]="!myPost.isCollapsed"
                      aria-controls="collapseExample">
                      Show Comments
                    </button>
                    <button class="like" (click)="like(myPost)" mat-button>
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </mat-card-actions>
                  <div class="comment-section" #collapse="ngbCollapse" [(ngbCollapse)]="myPost.isCollapsed">
                    <div class="card p-2" *ngFor="let property of myPost.comments | keyvalue">
                      <div class="commentTitle d-flex align-items-center gap-4">
                        <div mat-card-avatar class="header-card-img"><img class="commentPic"
                            [src]="property.value?.createdBy?.profilePic" alt=""></div>
                        <div class="fw-bold">{{property.value?.createdBy?.nickname}}</div>
                      </div>
                      <div class="card-body">{{property.value?.body}}</div>
                    </div>
                  </div>
                </mat-card>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div>
          <app-profilebox></app-profilebox>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<!-- <div class="mainContent d-flex flex-column align-items-center">
  <h1 class="title">A little bit of nothing. All of the time!</h1>
  <mat-card class="example-card w-50">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="mt-3">Post Title</p>
      <p class="mt-3">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <button class="like" mat-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button class="save" mat-button (click)="savePost()">
          <mat-icon *ngIf="!saved">bookmark_border</mat-icon>
          <mat-icon *ngIf="saved" class="bookFull">bookmark</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>
</div> -->
