mat-drawer-container{
  height: 100%;
  mat-tab-body{
    display: flex;
    justify-content: center;
  }
}

mat-drawer-content {
  margin: 0;
  .profileCard {
    width: 750px;
    mat-card-header {
      display: flex;
      align-items: center;
      padding: 8px;
      div.header-card-img {
        img {
          border-radius: 50%;
          width: 50px;
        }
      }
    }
  }
}

div#label-prof-page{
  margin-left: 0px;

}





