<div [@fadeInAnimation]>
  <h1>Sign Up</h1>
  <form [formGroup]="formRegister" (ngSubmit)="register()">
    <div class="errors" *ngIf="showError">
      <p>{{textError}}</p>
    </div>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nickname</mat-label>
      <input type="text" matInput formControlName="nickname">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>
</div>
