<mat-drawer-container class="example-container h-100">
  <mat-drawer mode="side" opened>
    <div class="d-flex flex-column buttonContainer">

      <button class="buttonSide d-flex align-items-center justify-content-start" matRipple matRippleColor="color"
        mat-button (click)="getAllPostsHome('trending')">
        <mat-icon>trending_up</mat-icon> Trending
      </button>
      <button class="buttonSide d-flex align-items-center justify-content-start" matRipple matRippleColor="color"
        mat-button (click)="getAllPostsHome('music')">
        <mat-icon>headset</mat-icon> Music
      </button>
      <button class="buttonSide d-flex align-items-center justify-content-start" matRipple matRippleColor="color"
        mat-button (click)="getAllPostsHome('movies')">
        <mat-icon> local_movies</mat-icon> Movies
      </button>
      <button class="buttonSide d-flex align-items-center justify-content-start" matRipple matRippleColor="color"
        mat-button (click)="getAllPostsHome('gaming')">
        <mat-icon>games</mat-icon> Gaming
      </button>
      <button class="buttonSide d-flex align-items-center justify-content-start" matRipple matRippleColor="color"
        mat-button (click)="getAllPostsHome('sport')">
        <mat-icon> directions_run</mat-icon> Sport
      </button>
      <button class="buttonSide d-flex align-items-center justify-content-start" matRipple matRippleColor="color"
        mat-button (click)="getAllPostsHome('technology')">
        <mat-icon>devices_other</mat-icon> Technology
      </button>

    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mainContent d-flex flex-column align-items-center">
      <h1 class="title">{{topic}} POSTS</h1>
      <mat-card *ngFor="let post of allDisplayablePosts" class="home-card example-card w-50">
        <mat-card-header>
          <div mat-card-avatar class="header-card-img"><img [src]="post.user.profilePic" alt=""></div>
          <mat-card-title>{{post.title}}</mat-card-title>
          <mat-card-subtitle>{{post.user.nickname}}</mat-card-subtitle>
          <p>{{post.postDate}}</p>
        </mat-card-header>
        <img mat-card-image [src]="post.imageUrl" alt="">
        <mat-card-content>
          <p class="mt-3">{{post.postTopic}}</p>
          <p class="mt-3">{{post.bodyText}}</p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-primary btnComment ms-2" (click)="post.isCollapsed = !post.isCollapsed"
            [attr.aria-expanded]="!post.isCollapsed" aria-controls="collapseExample">
            Show Comments
          </button>
          <span>{{getLikesCount(post)}}</span>
          <button *ngIf="userLogged" class="liked" (click)="like(post)"
            [ngClass]="{'like': post.likes.hasOwnProperty(userLogged!.uniqueId)}" mat-button>
            <mat-icon *ngIf="post.likes.hasOwnProperty(userLogged!.uniqueId)">favorite</mat-icon>
            <mat-icon *ngIf="!post.likes.hasOwnProperty(userLogged!.uniqueId)">favorite_border</mat-icon>
          </button>
          <button *ngIf="userLogged" class="save" mat-button (click)="saved(post)">
            <mat-icon *ngIf="post.saved.hasOwnProperty(userLogged!.uniqueId)" class="bookFull">bookmark</mat-icon>
            <mat-icon *ngIf="!post.saved.hasOwnProperty(userLogged!.uniqueId)">bookmark_border</mat-icon>
          </button>
        </mat-card-actions>
        <form *ngIf="userLogged" [formGroup]="formRegister" (ngSubmit)="addComment(post)">
          <mat-form-field class="commentForm" appearance="outline">
            <mat-label class="commentLabel">Comment</mat-label>
            <input color="white" class="commentText" type="text" matInput formControlName="comment">
          </mat-form-field>
          <button [disabled]="!formRegister.valid" class="btn btn-warning commentBtn">Comment</button>
        </form>
        <div class="comment-section" #collapse="ngbCollapse" [(ngbCollapse)]="post.isCollapsed">
          <div class="commentCard p-2" *ngFor="let property of post.comments | keyvalue">
            <div class="commentTitle d-flex align-items-center gap-4">
              <div mat-card-avatar class="header-card-img"><img class="commentPic" [src]="property.value?.createdBy?.profilePic" alt=""></div>
              <div class="fw-bold">{{property.value?.createdBy?.nickname}}</div>
              <div class="card-body">{{property.value?.commentDate}}</div>
            </div>
            <div class="card-body ciao">{{property.value?.body}}</div>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
