.buttonContainer {
  margin: 15px 0;
  .buttonSide {
    margin: 15px 10px 15px 10px;
    border-radius: 5px;
    padding: 10px 20px;
    .like {
      color: red;
    }
    mat-icon{
      margin-right: 5px;
    }
  }
}

mat-card-header{
  display: flex;
  align-items: center;
  padding: 8px;
  div.header-card-img{
    img{
      border-radius: 50%;
      width: 50px;
    }
  }
}

mat-drawer{
  width: 200px;
  box-shadow: 1px 1px 2px;
}

mat-drawer-content{
  margin-left: 0 !important;
  .home-card {
    box-shadow: 1px 1px 4px;
    margin: 10px;
    width: 600px !important;
    button {
      border-radius: 5px;
      background: none;
      border: none;
    }
    .like{
      color: red;
    }
    .bookFull{
      color: yellow;
    }
  }
}

.commentPic{
    width: 50px;
    height: 50px;
  }

.title{
  font-size: 2.5em;
  margin: 30px 0 20px 0;
}

.blue{
  color:blue;
}

.comment-section{
  max-height: 250px;
  overflow: scroll;
}

.btnComment:hover {
  color: rgb(71, 71, 209);
}
