<mat-card class="example-card profileBox">
  <mat-card-header>
    <mat-card-title-group class="titleGroup">
      <mat-card-title>{{loggedUser.nickname}}</mat-card-title>
      <mat-card-subtitle>ID: #{{loggedUser.id}}</mat-card-subtitle>
      <a class="btn btn-primary newPost" [routerLink]="['create']">New post</a>
    </mat-card-title-group>
    <img mat-card-md-image [src]=loggedUser.profilePic  alt="Profile Image">
  </mat-card-header>
  <mat-card-content class="editInfo">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Edit your Infos
          </mat-panel-title>
          <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>

      <form class="d-flex flex-column" (ngSubmit)="editMyPost()">
        <mat-form-field appearance="outline">
          <mat-label>Your New Nickname</mat-label>
          <input matInput placeholder="Placeholder" name="nickname" [(ngModel)]="loggedUser.nickname">
        </mat-form-field>

        <mat-form-field class="mt-2" appearance="outline">
          <mat-label>Your New Image</mat-label>
          <input matInput placeholder="Placeholder" name="profilePic" [(ngModel)]="loggedUser.profilePic">
        </mat-form-field>
        <button mat-raised-button class="btn btn-primary mt-1" color="primary" type="submit">Submit</button>
      </form>





      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
